 <% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Project Name') %></th>
			<th><%= t('Customer') %></th>
			<th><%= t('Part Name') %></th>
			<th><%= t('Part#') %></th>
			<th><%= t('Spec') %></th>
			<th><%= t('Qty/Unit') %></th>
			<th><%= t('Unit Price($)') %></th>
			<th><%= t('Total($)') %></th>
			<th><%= t('Order Date') %></th>
			<th><%= t('Supplier') %></th>
			<th><%= t('Void') %></th>
			<th><%= t('Receiving Date') %></th>
			<th><%= t('Received') %></th>
			<th><%= t('Purchasing') %></th>
			<th><%= t('Requested By') %></th>
			<th><%= t('Status') %></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% unless has_action_right?('show', params[:controller], r) %>
		  	  <td><%= prt(r, :id) %></td>
		  	<% else %>
		  	  <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{part_path(r)}" %></td>
		  	<% end %>
		  	<% unless has_action_right?('show', SuppliedPartx.project_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'project.name') %></td>
		  	<% else %>
		  	  <td><%= link_to r.project.name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_project_path))}" %></td>
		  	<% end %>
		  	<% unless has_action_right?('show', SuppliedPartx.customer_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'customer.name') %></td>
		  	<% else %>
		  	  <td><%= link_to r.customer.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_customer_path))}" %></td>
		  	<% end %>
		  	<td><%= prt(r, :name) %></td>
			<td><%= prt(r, :part_num) %></td>
			<td><%= prt(r, :spec) %></td>
			<td><%= prt(r, :qty) %>/<%= prt(r, :unit) %></td>
			<td><%= number_with_precision(prt(r, :unit_price), :precision => 2) %></td>
			<td><%= number_with_precision(r.unit_price * r.qty, :precision => 2) %></td>
			<td><%= r.order_date.strftime("%Y/%m/%d") if r.order_date.present? %></td>
			<% unless has_action_right?('show', SuppliedPartx.supplier_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'supplier.short_name') if r.supplier_id.present? %></td>
		  	<% else %>
		  	  <td><%= link_to r.supplier.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_supplier_path))}" if r.supplier_id.present? %></td>
		  	<% end %>
		  	<td><%= t(prt(r, :void).to_s) %></td>
			<td><%= r.receiving_date.strftime("%Y/%m/%d") if r.receiving_date.present? %></td>
			<td><%= t(prt(r, :received).to_s) %></td>
			<td><%= prt(r, 'purchasing.name') if r.purchasing_id.present? %></td> 
			<td><%= prt(r, 'requested_by.name') %></td> 
			<td><%= prt(r, 'status.name') if r.status_id.present? %></td>    
			<td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_part_path(r, :parent_record_id => r.project_id, :parent_resource => SuppliedPartx.project_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if has_action_right?('update', params[:controller], r) %></td>
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    </th>
	  </tr>
	</table>
	
	<% end %>
	
