 <% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
    <table class="table table-striped">
		<tr>
			<th>#</th>
			<th><%= t('Project Name') %></th>
			<th><%= t('Customer') %></th>
			<th><%= t('Part Name') %></th>
			<th><%= t('Part#') %></th>
			<th><%= t('Spec') %></th>
			<th><%= t('Qty/Unit') %></th>
			<th><%= t('Unit Price($)') %></th>
			<th><%= t('Total($)') %></th>
			<th><%= t('Order Date') %></th>
			<th><%= t('Supplier') %></th>
			<th><%= t('Manufacturer') %></th>
			<th><%= t('Receiving Date') %></th>
			<th><%= t('Received') %></th>
			<th><%= t('Purchaser') %></th>
			<th><%= t('Requested By') %></th>
			<th><%= t('WF State') %></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% models.each do |r| %>
		  <tr>
		  	<% unless has_action_right?('show', params[:controller], r) %>
		  	  <td><%= prt(r, :id) %></td>
		  	<% else %>
		  	  <td><%= link_to r.id.to_s, SUBURI + "/authentify/view_handler?index=1&url=#{part_path(r)}" %></td>
		  	<% end %>
		  	<% unless has_action_right?('show', SuppliedPartx.project_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'project.name') %></td>
		  	<% else %>
		  	  <td><%= link_to r.project.name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_project_path))}" %></td>
		  	<% end %>
		  	<% unless has_action_right?('show', SuppliedPartx.customer_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'customer.name') %></td>
		  	<% else %>
		  	  <td><%= link_to r.customer.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_customer_path))}" %></td>
		  	<% end %>
		  	<td><%= prt(r, :name) %></td>
			<td><%= prt(r, :part_num) %></td>
			<td><%= prt(r, :spec) %></td>
			<td><%= prt(r, :qty) %>/<%= prt(r, :unit) %></td>
			<td><%= number_with_precision(prt(r, :unit_price), :precision => 2) if r.unit_price.present? %></td>
			<td><%= number_with_precision(r.unit_price * r.qty, :precision => 2) if r.unit_price.present? %></td>
			<td><%= r.order_date.strftime("%Y/%m/%d") if r.order_date.present? %></td>
			<% unless has_action_right?('show', SuppliedPartx.supplier_class.to_s.underscore.pluralize) %>
		  	  <td><%= prt(r, 'supplier.short_name') if r.supplier_id.present? %></td>
		  	<% else %>
		  	  <td><%= link_to r.supplier.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(eval(SuppliedPartx.show_supplier_path))}" if r.supplier_id.present? %></td>
		  	<% end %>
		    <td><%= prt(r, 'manufacturer.short_name') if r.manufacturer_id.present? %></td>
		  	<td><%= r.receiving_date.strftime("%Y/%m/%d") if r.receiving_date.present? %></td>
			<td><%= r.received ? t('Yes') : t('No') %></td>
			<td><%= prt(r, 'purchasing.name') if r.purchasing_id.present? %></td> 
			<td><%= prt(r, 'requested_by.name') if r.requested_by_id.present? %></td> 
			<td><%= t(prt(r, :wf_state).humanize.titleize) if r.wf_state.present? %></td>    
			<td><%= link_to t('Submit Purchasing'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'submit', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'initial_state' && has_action_right?('submit', params[:controller], r) %></td>
			<td><%= link_to t('Enter Date'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'enter_receiving_date', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'entering_receiving_date' && has_action_right?('enter_receiving_date', params[:controller], r) %></td>
			<td><%= link_to t('From Warehouse'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'enter_receiving_date', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'entering_receiving_date' && has_action_right?('enter_receiving_date', params[:controller], r) %></td>
			<td><%= link_to t('Enter Price & Date'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'enter_purchasing_data', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'entering_purchasing_data' && has_action_right?('enter_purchasing_data', params[:controller], r) %></td>
			<td><%= link_to t('Manager')+ t('Approve'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'manager_approve', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'manager_reviewing' && has_action_right?('manager_approve', params[:controller], r) %></td>
			<td><%= link_to t('Manager') + t('Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'manager_reject', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'manager_reviewing' && has_action_right?('manager_reject', params[:controller], r) %></td>
		    <td><%= link_to t('CEO') + t('Approve'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'ceo_approve', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'ceo_reviewing' && has_action_right?('ceo_approve', params[:controller], r) %></td>
			<td><%= link_to t('CEO') + t('Reject'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'ceo_reject', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'ceo_reviewing' && has_action_right?('ceo_reject', params[:controller], r) %></td>
		    <td><%= link_to t('CEO') + t('Rewind'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'ceo_rewind', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'ceo_reviewing' && has_action_right?('ceo_rewind', params[:controller], r) %></td>
		    <td><%= link_to t('Stamp'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'stamp', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'approved' && has_action_right?('stamp', params[:controller], r) %></td>
		    <td><%= link_to t('Recieve Delivery'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI.escape event_action_part_path(r, :wf_event => 'receive_delivery', :resource_id => r.id, :resource_string => params[:controller])}", :class => BUTTONS_CLS['action']  if r.wf_state.present? && r.wf_state == 'approved' && has_action_right?('receive_delivery', params[:controller], r) %></td>
		    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape edit_part_path(r, :parent_record_id => r.project_id, :parent_resource => SuppliedPartx.project_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if (r.wf_state.nil? or r.wf_state == 'initial_state') && has_action_right?('update', params[:controller], r) %></td>
		    <td><%= link_to t('Payment Requests'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(eval(SuppliedPartx.index_payment_request_path.to_s))}", :class => BUTTONS_CLS['action']  if has_action_right?('index', SuppliedPartx.payment_request_resource.to_s) %></td>
		    <td><%= link_to t('Payment Requests'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(eval(SuppliedPartx.index_payment_request_supplied_partx_path.to_s))}", :class => BUTTONS_CLS['action']  if has_action_right?('index_supplied_partx', SuppliedPartx.payment_request_resource.to_s) %></td>			
		  </tr>
		<% end %>
	</table>
	
	<table class="table table-striped">
	  <tr>
	    <th>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    	<%= link_to t('New Purchasing'), SUBURI + "/authentify/view_handler?index=1&url=#{CGI::escape new_part_path(:project_id => @project.id, :parent_record_id => @project.id, :parent_resource => SuppliedPartx.project_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if @project && has_action_right?('create', params[:controller], @project) %>
	    	<%= link_to t('Open Process'), SUBURI + "/authentify/view_handler?index=1&url=#{list_open_process_parts_path(:project_id => @project.id, :parent_record_id => @project.id, :parent_resource => SuppliedPartx.project_class.to_s.underscore.pluralize)}", :class => BUTTONS_CLS['action']  if @project && has_action_right?('list_open_process', params[:controller], @project) %>
	    	<%= link_to t('Open Process'), SUBURI + "/authentify/view_handler?index=1&url=#{list_open_process_parts_path}", :class => BUTTONS_CLS['action']  if @project.nil? && has_action_right?('list_open_process', params[:controller], @project) %>
	    
	    </th>
	  </tr>
	</table>
	
	<% end %>
	
